.AboutMe {
    display: flex;
    flex-direction: row;
    background-color: rgb(18, 20, 31);
    padding-left: 300px;
    position: relative;
    min-height: 100vh;
    z-index: 1;
}

#aboutme-intro {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;
    color:rgb(164, 172, 196);
}


#aboutme {
    color: rgb(164, 172, 196);
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#container-img {
    height: auto;
    width: auto;
    overflow: hidden;
}

#container-img img {
    max-width: 100%;
    width: auto;
    height: auto;
    padding-top: 15%;
    overflow: hidden;
}

#name {
    text-align: center;
    font-size: calc(30px + 4vw);
    color:rgb(255, 255, 255);
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    text-shadow: 2px 2px 5px rgb(20, 20, 20);;
}

#container-options {
    list-style: none;
    align-content: center;
    padding-left: 0;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.AboutMe li {
    text-align: center;
    display: list-item;
    color: black;
    width: 20vh;
    background-color: rgb(164, 172, 196);
    margin: 1vh;
    padding: 1vh;
    border-radius: 5px;
    border: .5vh solid transparent;
    transition: border-color .2s ease-in-out;
    -webkit-transition: border-color .2s ease-in-out;
}

.AboutMe li:hover {
    background-color: rgb(71, 103, 199);
}
