@import '../css/variables.scss';

#container-buttons {
    list-style: none;
    align-content: center;
    padding-left: 0;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

#container-buttons li {
    opacity: 50%;
    text-align: center;
    display: list-item;
    color: black;
    width: 20vh;
    background-color: rgb(164, 172, 196);
    margin: 1vh;
    padding: 1vh;
    border-radius: 5px;
    border: .5vh solid transparent;
    transition: border-color .2s ease-in-out;
    -webkit-transition: border-color .2s ease-in-out;
    &.ig {
        width: 6vh;
        border-radius: 100%;
        background-color: $instagram;
        &:hover {
            background-color: darken($instagram, 15);
        }
    }
    &.link {
        width: 6vh;
        border-radius: 100%;
        background-color: $linkedin;
        &:hover {
            background-color: darken($linkedin, 15);
        }
    }
    &.wapp {
        width: 6vh;
        border-radius: 100%;
        background-color: $whatsapp;
        &:hover {
            background-color: darken($whatsapp, 15);
        }
    }
    &.tw {
        width: 6vh;
        border-radius: 100%;
        background-color: $twitter;
        &:hover {
            background-color: darken($twitter, 15);
        }
    }
}

.send {
    position: relative;
    border-radius: 3%;
    padding: 0 30px;
    background: #037fff;
    color: #fff;
    border: 0;
    display: inline-block;
    z-index: 1;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 2px;
    height: 50px;
    line-height: 50px;
    transition: all .4s ease-out;

}

#container-buttons li:hover {
    background-color: rgb(71, 103, 199);
}