@import "./variables.scss";

.page-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    background-color: $bg-container-page;
    padding-left: 18.75rem;
    position: relative;
    min-height: 100vh;
    @media screen and (max-width: 600px) {
        padding-left: 0;
        
    }
}


.page-container h2 {
    background-color: $bg-container-page;
    background: $bg-container-page;
    color: rgb(164, 172, 196);
    text-align: center;   
    font-size: 10em; // 1.48
    text-transform: uppercase;
    font-style: italic;
    padding: 0;
    margin-top: 4.5rem; // 14.2rem
    margin-bottom: 0;
    position: relative;

    @media screen and (max-width: 768px){ // Tablet
        font-size: 6.04587156em;
    }

    @media screen and (max-width: 425px){ // Mobile L
        font-size: 5.7em;
    }

    @media screen and (max-width: 375px){ // Mobile M
        font-size: 5.1560em;
    }

    @media screen and (max-width: 320px) { // Mobile S
        font-size: 4.4em;
    }

    &::after {
        content: "";
        display: block;
        width: calc(100% - 10% - 10%);
        margin-left: 10%;
        background:  rgb(50, 56, 73);;
        display: flex;
        height: 1px;
        position: absolute;
    }
    &.profile::before, &.contact::before, &.projects::before,
    &.interests::before, &.resume::before {
        display:block;
        text-align: center;
        top: 0;
        opacity: 35%;
        position:fixed;
    }
    &.contact::before {
        content: "CONTACT";
    }
    &.profile::before {
        content: "PROFILE";
    }
    &.projects::before {
        content: "PROJECTS";
    }
    &.interests::before {
        content: "INTERESTS";
    }
    &.resume::before {
        content: "RESUME";
    }
}

.page-content {
    display: block;
    margin-top: 3rem;
    margin-left: 10%;
    height: 20rem;
    width: calc(100% - 10% - 10%);
    background-color: rgb(25, 28, 44);
    position: relative;
    &::after {
        content: "";
        display: block;
        bottom: -3rem;
        width: 100%;
        background:  rgb(50, 56, 73);
        display: flex;
        height: 1px;
        position: absolute;
    }
    &.contact {
        min-height: 25rem;
        height: auto;
    }
}