@import '../css/variables.scss';

html {
    scroll-behavior: smooth;
}

.section-container {
    display: block;
    margin-top: 3rem;
    margin-left: 10%;
    height: auto;
    width: calc(100% - 10% - 10%);
    position: relative;
}

section {
    display: block;
    height: 100vh;
    width: 100%;
}

.nav-container {
    text-align: center;
    position: fixed;
    z-index: 8;
    bottom: 0;
    right: 210px;
    left: 510px;

    ul {
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-inline-start: 0px;
    }

    @media screen and (max-width: 1024px){ // Mobile L
        right: 110px;
        left: 410px;
    }

    @media screen and (max-width: 600px){ // Mobile L
        right: 0;
        left: 0;
    }

    @media screen and (max-width: 425px){ // Mobile L
        right: 0;
        left: 0;
    }
}

.nav-profile {
    border-radius: 6px;
    display: block;
    margin-bottom: 1rem;
    background-color: darken($bg-container-page,3);
    a {
        margin-left: 2rem;
        margin-right: 2rem;
        z-index: 8;
        display: inline-block;
        font-weight: 500;
        text-decoration: none;
        color: aliceblue;
        padding: 20px 0;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            left: 0;
            width: 0;
            height: 3px;
            background: #25d366;
            transition: 0.3s;
            bottom: 0;
        }
        &.is-current {
            color: #25d366;
            &::after {
                width: 100%;
            }
        }
        @media screen and (max-width: 320px){ // Mobile L
            margin-left: 0.6rem;
            margin-right: 0.6rem;
        }
    }
}