@import '../css/variables.scss';

html {
    scroll-behavior: smooth;
}

.section-container {
    display: block;
    margin-top: 3rem;
    margin-left: 10%;
    height: auto;
    width: calc(100% - 10% - 10%);
    position: relative;
    box-sizing: content-box;
}

section {
    box-sizing: content-box;
    display: block;
    height: auto;
    width: 100%;
    margin-top: 30%;
    &.is-last{
        margin-bottom: 80%;
    }
    &.is-first{
        margin-top: 80px;
        height: 80vh;
    }
}

.nav-container {
    text-align: center;
    position: fixed;
    z-index: 8;
    bottom: 0;
    right: 210px;
    left: 510px;

    ul {
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-inline-start: 0px;
    }

    @media screen and (max-width: 1024px){ // Mobile L
        right: 110px;
        left: 410px;
    }

    @media screen and (max-width: 600px){ // Mobile L
        right: 0;
        left: 0;
    }

    @media screen and (max-width: 425px){ // Mobile L
        right: 0;
        left: 0;
    }
}

.nav-container-skills {
    text-align: center;

    @media screen and (max-width: 1024px){ // Mobile L
        right: 110px;
        left: 410px;
    }

    @media screen and (max-width: 600px){ // Mobile L
        right: 0;
        left: 0;
    }

    @media screen and (max-width: 425px){ // Mobile L
        right: 0;
        left: 0;
    }
}


.nav-profile {
    text-align: center;
    border-radius: 6px;
    display: block;
    margin-bottom: 1rem;
    background-color: darken($bg-container-page,3);

    &.Skills {
        font-size: 12px;
        background-color: darken(#25d366,3);
        margin-left: 10%;
        margin-right: 10%;
        a {
            margin-left: 4rem;
            margin-right: 4rem;
            z-index: 8;
            display: inline-block;
            font-weight: 500;
            text-decoration: none;
            color: aliceblue;
            padding: 20px 0;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                left: 0;
                width: 0;
                height: 3px;
                background: #000201;
                transition: 0.3s;
                bottom: 0;
            }
            &.is-current {
                color: #000000;
                &::after {
                    width: 100%;
                }
            }
            @media screen and (max-width: 320px){ // Mobile L
                margin-left: 0.6rem;
                margin-right: 0.6rem;
            }
        }
    }

    a {
        margin-left: 2rem;
        margin-right: 2rem;
        z-index: 8;
        display: inline-block;
        font-weight: 500;
        text-decoration: none;
        color: aliceblue;
        padding: 20px 0;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            left: 0;
            width: 0;
            height: 3px;
            background: #25d366;
            transition: 0.3s;
            bottom: 0;
        }
        &.is-current {
            color: #25d366;
            &::after {
                width: 100%;
            }
        }
        @media screen and (max-width: 320px){ // Mobile L
            margin-left: 0.6rem;
            margin-right: 0.6rem;
        }
    }

    ul {
        padding-inline-start: 0;
    }
}

.backto-top {
    right: 2rem;
    position: fixed;
    font-size: 2rem;
    z-index: 2000;
    display: flex;
    bottom: 1rem;
    width: 50px;
    height: 50px;
    line-height: 49px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    overflow: hidden;
    transition: all 0.5s;

    @media screen and (max-width: 425px){ // Mobile L
        bottom: 5rem;
    }

    @media screen and (max-width: 375px){ // Mobile L
        bottom: 1.5rem;
    }

    @media screen and (max-width: 320px){ // Mobile L
        bottom: 5rem;
    }

    svg {
        margin: 0.6999rem;
        font-size: 14px!important;
        color: rgb(255, 255, 255);
        width: 27px;
        height: 27px;
    }
}

.header-section {
    padding-top: 5%;
}

.Technological {
    transition: all 0.5s;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    height: auto;
    box-sizing: content-box;
    line-height: 60px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    position: relative;

    li {

        padding: 0 1rem 1rem 1rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;

        h5 {
            margin: 0;
            color: antiquewhite;
        }
    }
}

.Knowledge {
    transition: all 0.5s;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    height: auto;
    box-sizing: content-box;
    line-height: 60px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    position: relative;

    li {

        padding: 0 1rem 1rem 1rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;

        h5 {
            margin: 0;
            color: antiquewhite;
        }
    }
}

img {
    &.small {
        height: 50px;
        width: 50px;
    }
}

.description-skill {
    
    border: 4px solid darken($title-color,20);
    font-style:initial;
    box-sizing: border-box;
    background-color: $title-color;
    color: $bg-container-page;
    line-height: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin: 0;
    padding: 1rem;
}