
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: beige;
  }
  
  h1 {
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  .skills-container {
    margin-top: 2em;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
  }
  
  .circular-progress, .circular-progress::after, .circular-progress::before {
      width: 200px;
      height: 200px;
      border-radius: 50%;
  }
  .circular-progress {
    margin: auto;
    position: relative;
  }
  .circular-progress::after, .circular-progress::before {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      text-align: center;
    }
  
    .circular-progress::before {
      padding: .5em;
      line-height: 140px;
      font-size: 2rem;
      font-weight: bold;
    }
    .circular-progress::after {
      font-size: .8rem;
      font-weight: normal;
      text-transform: uppercase;
      line-height: 230px;
    }
  
  @function progress($percent){
    $deg: $percent/100 * 180;
    @return #{$deg}+deg;
  }
  
  @mixin circular-progress($percent,$skill,$color,$bgcolor){
  
    $progress: progress($percent);
    background: linear-gradient(0deg, $color 50%, rgba($color,.3) 50%);
    transform: rotate($progress);
    &:before,
    &:after {
      color: $color;
    }
    &:before {
      background: $bgcolor content-box;
      transform: rotate(-#{$progress});
      content: "#{$percent}%";
    }
    &:after {
      background: linear-gradient(transparent 50%, $bgcolor 50%);
      content: "#{$skill}";
      transform: rotate(-#{$progress}) scale(1.4);
    }
  }
  
  .html{
    @include circular-progress(40,html,lighten(purple,30),beige);
  }
  
  .css{
    @include circular-progress((60),css,lighten(blue,30), beige);
  }